<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous"><a href="<%- url_for(page.prev_link) %>">&larr;  <%- __('pagination.newer_posts')%></a></li>
    <% } %>
    <% if (page.next){ %>
        <li class="next"><a href="<%- url_for(page.next_link) %>"><%- __('pagination.previous_posts')%>  &rarr;</a></li>
    <% } %>
</ul>
