<% if(config.toc.enable){ %>
  <div class="hidden-xs col-sm-3 toc-col">
    <div class="toc-wrap">
        <%- __('sidebar.toc') %>
        <% if(page["toc_number_disable"]) {%>
          <%- toc(page.content, {list_number: false}) %>
        <% } else { %>
          <%- toc(page.content, {list_number: true}) %>
        <% } %>
    </div>
  </div>
<% } %>
